# @see https://hub.docker.com/_/ubuntu/tags
BASE=ubuntu:20.04

# Your vendor name will be used as a prefix.
# Your Docker Hub repository name.
# @see https://hub.docker.com/repository/create
ORG=neurony

# @see https://github.com/nodesource/distributions#debinstall
NODEVS=18

# @see https://www.php.net/supported-versions.php
# @see https://launchpad.net/~ondrej/+archive/ubuntu/php
# 7.0 <= $PHPVS <= 8.1
PHPVS=8.1

# Image version based on the current date (YYMM) or "latest"
TS=latest

# @see https://docs.docker.com/compose/compose-file/compose-file-v2/#platform
X_ARCH=amd64

# User & Group ID of your current user (will be the ID www-data runs as to avoid local file ownership issues)
X_UID=1000:1000
