# Your vendor name will be used as a prefix.
# Your Docker Hub repository name.
# @see https://hub.docker.com/repository/create
ORG=neurony

# @see https://github.com/nodesource/distributions#debinstall
NODEVS=20

# @see https://www.php.net/supported-versions.php
# @see https://packages.sury.org/php/pool/main/p/
# 8.0 <= $PHPVS <= 8.2
PHPVS=8.2

# Image version based on the current date (YYMM) or "latest"
TS=latest

# @see https://docs.docker.com/compose/compose-file/compose-file-v2/#platform
X_ARCH=amd64


#
# Azure CLI

# AZ
AZ_TENANT_ID=
AZ_SUBSCRIPTION_ID=
AZ_CLIENT_ID=
AZ_CLIENT_SECRET=

# AZ generic
AZ_RESOURCE_GROUP=

# AZ Docker
AZ_REGISTRY=
AZ_K8S_CLUSTER=

# AZ Storage
AZ_STORAGE_ACCOUNT=
AZ_STORAGE_CONTAINER=
AZ_STORAGE_CONNECTION_STRING=


#
# MySQL
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
